<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ntu.center.mapper.ChangJiangBoxEnvironmentMapper">
    <resultMap id="result" type="com.ntu.common.model.po.ChangJiangBoxEnvironment">
        <id column="info_id" property="infoId"/>
        <result column="node_id" property="nodeId"/>
        <result column="area_id" property="areaId"/>
        <result column="spot_id" property="spotId"/>
        <result column="data_time" property="dataTime"/>
        <result column="area_name" property="areaName"/>
        <result column="G_InVoltage" property="gInVoltage"/>
        <result column="G_InCurrent" property="gInCurrent"/>
        <result column="G_Temperature" property="gTemperature"/>
        <result column="Z_InVoltage" property="zInVoltage"/>
        <result column="Z_InCurrent" property="zInCurrent"/>
        <result column="Z_Temperature" property="zTemperature"/>
        <result column="Z_JueYuan" property="zJueYuan"/>
        <result column="Z_LouShui" property="zLouShui"/>
        <result column="C_InVoltage" property="cInVoltage"/>
        <result column="C_YunTaiDianLiu" property="cYunTaiDianLiu"/>
        <result column="C_Temperature" property="cTemperature"/>
        <result column="C_JueYuan" property="cJueYuan"/>
        <result column="C_LouShui" property="cLouShui"/>
        <result column="Water_Deep" property="waterDeep"/>
    </resultMap>

    <insert id="insert">
        insert into nantong_changjiang_box_environment
            (info_id,area_name,area_id,spot_id,node_id,data_time,G_InVoltage,G_InCurrent,
             G_Temperature, Z_InVoltage,Z_InCurrent,Z_Temperature,
             Z_JueYuan,Z_LouShui, C_InVoltage,
             C_YunTaiDianLiu,C_Temperature,C_JueYuan,
             C_LouShui,Water_Deep)
        value( #{infoId},#{areaName},#{areaId},#{spotId},#{nodeId},#{dataTime},#{gInVoltage},
               #{gInCurrent},#{gTemperature},#{zInVoltage},
               #{zInCurrent},#{zTemperature},#{zJueYuan},
               #{zLouShui},#{cInVoltage},#{cYunTaiDianLiu},
               #{cTemperature},#{cJueYuan},#{cLouShui},#{waterDeep}
              )
    </insert>
    <update id="update">
        update nantong_changjiang_box_environment
        set G_InVoltage = #{gInVoltage},
            G_InCurrent = #{gInCurrent},
            G_Temperature = #{gTemperature},
            Z_InVoltage = #{zInVoltage},
            Z_InCurrent = #{zInCurrent},
            Z_Temperature = #{zTemperature},
            Z_JueYuan = #{zJueYuan},
            Z_LouShui = #{zLouShui},
            C_InVoltage = #{cInVoltage},
            C_YunTaiDianLiu = #{cYunTaiDianLiu},
            C_Temperature = #{cTemperature},
            C_JueYuan = #{cJueYuan},
            C_LouShui = #{cLouShui},
            Water_Deep = #{waterDeep}
    </update>
    <delete id="deleteById">
        delete from nantong_changjiang_box_environment where info_id = #{infoId} and area_name = #{areaName}
    </delete>


    <select id="findById" resultMap="result">
        select  G_InVoltage,G_InCurrent, G_Temperature ,
                Z_InVoltage,Z_InCurrent,Z_Temperature,
                Z_JueYuan,Z_LouShui,C_InVoltage,
                 C_YunTaiDianLiu,C_Temperature,C_JueYuan,C_LouShui,Water_Deep
        from nantong_changjiang_box_environment
        where area_id = #{areaId} and spot_id = #{spotId} and node_id = #{nodeId} and data_time = #{dataTime}
    </select>
</mapper>