<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntu.center.mapper.ChangJiangBoxSensorMapper">
    <resultMap id="monitorData" type="com.ntu.common.model.po.MonitorData">
        <id column="area_id" property="areaId"/>
        <id column="spot_id" property="spotId"/>
        <id column="node_id" property="nodeId"/>
        <id column="data_time" property="dataTime"/>
        <result column="info_id" property="infoId"/>
        <result column="info_node" property="infoNode"/>
        <result column="Conductivity" property="conductivity"/>
        <result column="Temperature" property="temperature"/>
        <result column="PH" property="ph"/>
        <result column="Salinity" property="salinity"/>
        <result column="DissolvedOxygen" property="dissolvedOxygen"/>
        <result column="Turbidity" property="turbidity"/>
    </resultMap>

    <insert id="insert">
        insert into monitor_data(
                info_id,
                info_node,
                spot_id,
                area_id,
                node_id,
                data_time,
                Conductivity,
                Temperature,
                PH,
                Salinity,
                DissolvedOxygen,
                Turbidity
                )
        values (
                #{infoId},
                #{infoNode},
                #{spotId},
                #{areaId},
                #{nodeId},
                #{dataTime},
                #{conductivity},
                #{temperature},
                #{ph},
                #{salinity},
                #{dissolvedOxygen},
                #{turbidity})
    </insert>

    <update id="update">
        update monitor_data
        set Conductivity = #{conductivity},
            Temperature = #{temperature},
            PH = #{ph},
            Salinity = #{salinity},
            DissolvedOxygen = #{dissolvedOxygen},
            Turbidity = #{turbidity}
        where area_id = #{areaId,jdbcType=VARCHAR}
            and spot_id = #{spotId,jdbcType=VARCHAR}
            and node_id = #{nodeId,jdbcType=VARCHAR}
            and data_time = #{dataTime,jdbcType=TIMESTAMP}
    </update>
    <delete id="deleteById">
        delete from monitor_data where info_id = #{infoId} and info_node = #{infoNode}
    </delete>

    <select id="findById" resultMap="monitorData">
        select
            area_id,
            spot_id,
            node_id,
            data_time,
            Conductivity,
            Temperature,
            PH,
            Salinity,
            DissolvedOxygen,
            Turbidity
        from monitor_data
        where area_id = #{areaId} and spot_id = #{spotId} and node_id = #{nodeId} and data_time = #{dataTime}
    </select>


</mapper>