<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ntu.center.mapper.TuanJieHeBuoyGongZuoWenDuMapper" >
  <resultMap id="BaseResultMap" type="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    <id column="area_id" property="areaId" jdbcType="VARCHAR" />
    <id column="spot_id" property="spotId" jdbcType="VARCHAR" />
    <id column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <id column="data_time" property="dataTime" jdbcType="TIMESTAMP" />
    <result column="info_id" property="infoId"/>
    <result column="area_name" property="areaName"/>
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="num_quest" property="numQuest" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="errornum" property="errornum" jdbcType="VARCHAR" />
    <result column="tem1hratur" property="tem1hratur" jdbcType="DOUBLE" />
    <result column="tem2_xical" property="tem2Xical" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    area_id, spot_id, node_id, data_time, num, num_quest, state, errornum, tem1hratur, 
    tem2_xical
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    select 
    <include refid="Base_Column_List" />
    from nantong_tuanjiehe_buoy_gongzuowendu
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    delete from nantong_tuanjiehe_buoy_gongzuowendu
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </delete>

    <delete id="deleteById">
      delete from nantong_tuanjiehe_buoy_gongzuowendu where info_id = #{infoId} and area_name = #{areaName}
    </delete>

    <insert id="insert" parameterType="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    insert into nantong_tuanjiehe_buoy_gongzuowendu (info_id,area_name,area_id, spot_id, node_id,
      data_time, num, num_quest, 
      state, errornum, tem1hratur, 
      tem2_xical)
    values (#{infoId},#{areaName},#{areaId,jdbcType=VARCHAR}, #{spotId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR},
      #{dataTime,jdbcType=TIMESTAMP}, #{num,jdbcType=VARCHAR}, #{numQuest,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{errornum,jdbcType=VARCHAR}, #{tem1hratur,jdbcType=DOUBLE}, 
      #{tem2Xical,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    insert into nantong_tuanjiehe_buoy_gongzuowendu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="spotId != null" >
        spot_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="dataTime != null" >
        data_time,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="numQuest != null" >
        num_quest,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="errornum != null" >
        errornum,
      </if>
      <if test="tem1hratur != null" >
        tem1hratur,
      </if>
      <if test="tem2Xical != null" >
        tem2_xical,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="spotId != null" >
        #{spotId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="dataTime != null" >
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="numQuest != null" >
        #{numQuest,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="errornum != null" >
        #{errornum,jdbcType=VARCHAR},
      </if>
      <if test="tem1hratur != null" >
        #{tem1hratur,jdbcType=DOUBLE},
      </if>
      <if test="tem2Xical != null" >
        #{tem2Xical,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    update nantong_tuanjiehe_buoy_gongzuowendu
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="numQuest != null" >
        num_quest = #{numQuest,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="errornum != null" >
        errornum = #{errornum,jdbcType=VARCHAR},
      </if>
      <if test="tem1hratur != null" >
        tem1hratur = #{tem1hratur,jdbcType=DOUBLE},
      </if>
      <if test="tem2Xical != null" >
        tem2_xical = #{tem2Xical,jdbcType=DOUBLE},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ntu.common.model.po.TuanJieHeBuoyGongZuoWenDu" >
    update nantong_tuanjiehe_buoy_gongzuowendu
    set num = #{num,jdbcType=VARCHAR},
      num_quest = #{numQuest,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      errornum = #{errornum,jdbcType=VARCHAR},
      tem1hratur = #{tem1hratur,jdbcType=DOUBLE},
      tem2_xical = #{tem2Xical,jdbcType=DOUBLE}
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </update>
</mapper>