<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntu.client2.mapper.MonitorDataMapper">
    <resultMap id="monitorData" type="com.ntu.common.model.po.MonitorData">
        <id column="info_id" property="infoId"/>
        <result column="area_id" property="areaId"/>
        <result column="spot_id" property="spotId"/>
        <result column="node_id" property="nodeId"/>
        <result column="data_time" property="dataTime"/>
        <result column="Conductivity" property="conductivity"/>
        <result column="Temperature" property="temperature"/>
        <result column="PH" property="ph"/>
        <result column="Salinity" property="salinity"/>
        <result column="DissolvedOxygen" property="dissolvedOxygen"/>
        <result column="Turbidity" property="turbidity"/>
    </resultMap>

    <insert id="insert">
        insert into monitor_data
        values (#{areaId},
                #{spotId},
                #{nodeId},
                #{dataTime},
                #{conductivity},
                #{temperature},
                #{ph},
                #{salinity},
                #{dissolvedOxygen},
                #{turbidity})
    </insert>

    <update id="update">
        update monitor_data
        set Conductivity = #{conductivity},
            Temperature = #{temperature},
            PH = #{ph},
            Salinity = #{salinity},
            DissolvedOxygen = #{dissolvedOxygen},
            Turbidity = #{turbidity}
        where area_id = #{areaId} and spot_id = #{spotId} and node_id = #{nodeId} and data_time = #{dataTime}
    </update>

    <select id="findById" resultMap="monitorData">
        select * from monitor_data where info_id = #{infoId}
    </select>


</mapper>