<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ntu.client2.mapper.TuanJieHeBuoyCodMapper" >
  <resultMap id="BaseResultMap" type="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    <id column="area_id" property="areaId" jdbcType="VARCHAR" />
    <id column="spot_id" property="spotId" jdbcType="VARCHAR" />
    <id column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <id column="data_time" property="dataTime" jdbcType="TIMESTAMP" />
    <result column="info_id" property="infoId"/>
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="num_1" property="num1" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="error" property="error" jdbcType="VARCHAR" />
    <result column="cod" property="cod" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
     info_id,area_id, spot_id, node_id, data_time, num, num_1, state, error, cod
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    select 
    <include refid="Base_Column_List" />
    from nantong_tuanjiehe_buoy_cod
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </select>

  <select id="findById" resultMap="BaseResultMap">
    select * from nantong_tuanjiehe_buoy_cod where info_id = #{infoId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    delete from nantong_tuanjiehe_buoy_cod
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    insert into nantong_tuanjiehe_buoy_cod (area_id, spot_id, node_id, 
      data_time, num, num_1, 
      state, error, cod)
    values (#{areaId,jdbcType=VARCHAR}, #{spotId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, 
      #{dataTime,jdbcType=TIMESTAMP}, #{num,jdbcType=VARCHAR}, #{num1,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{error,jdbcType=VARCHAR}, #{cod,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    insert into nantong_tuanjiehe_buoy_cod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="spotId != null" >
        spot_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="dataTime != null" >
        data_time,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="num1 != null" >
        num_1,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="error != null" >
        error,
      </if>
      <if test="cod != null" >
        cod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="spotId != null" >
        #{spotId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="dataTime != null" >
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="num1 != null" >
        #{num1,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="error != null" >
        #{error,jdbcType=VARCHAR},
      </if>
      <if test="cod != null" >
        #{cod,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    update nantong_tuanjiehe_buoy_cod
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="num1 != null" >
        num_1 = #{num1,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="error != null" >
        error = #{error,jdbcType=VARCHAR},
      </if>
      <if test="cod != null" >
        cod = #{cod,jdbcType=DOUBLE},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ntu.common.model.po.TuanJieHeBuoyCod" >
    update nantong_tuanjiehe_buoy_cod
    set num = #{num,jdbcType=VARCHAR},
      num_1 = #{num1,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      error = #{error,jdbcType=VARCHAR},
      cod = #{cod,jdbcType=DOUBLE}
    where area_id = #{areaId,jdbcType=VARCHAR}
      and spot_id = #{spotId,jdbcType=VARCHAR}
      and node_id = #{nodeId,jdbcType=VARCHAR}
      and data_time = #{dataTime,jdbcType=TIMESTAMP}
  </update>
</mapper>